<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstra-pcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossori-gin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="/your-path-to-fontawesome/css/fontawesome.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#"
        >COGNOS evaluacion al 30 % del desarrollo del curso</a
      >
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
             <form action="/insertar" method="post">
                <div class="form-group">
                  <label for="lblcurso">Curso</label>
                  <input
                    type="curso"
                    class="form-control"
                    id="curso"
                    name="curso"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="form-group">
                  <label for="lblinstructor">Instructor</label>
                  <input
                    type="instructor"
                    class="form-control"
                    id="instructor"
                    name="instructor"
                  />
                </div>

                <div class="form-group">
                  <label for="lblcurso">1.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect01"  name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">2.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect02"  name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">3.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect03" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">4.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect04" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">5.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect05" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">6.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect06" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">7.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect07" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">8.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect08" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="lblcurso">9.¿pregunta?</label>
                  <select class="custom-select" id="inputGroupSelect09" name="preguntas">
                    <option selected>Seleccione Una Opcion...</option>
                    <option value="1">Muy rapido</option>
                    <option value="2">Rapido</option>
                    <option value="3">Normal</option>
                    <option value="3">Lento</option>
                  </select>
                </div>
                <div class="form-group">
                        <label for="comentarios">Comentarios</label>
                        <input
                          type="comentarios"
                          class="form-control"
                          id="comentarios"
                          name="comentarios"
                        />
                      </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
